<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Vue.js Demo</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Vue.js Framework</h1>
            <h2>Vue Demo Application</h2>
        </header>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </nav>
        <!-- 
            Vue => computed properties
            Computed Property is derived from or calculated based on existing data property
            Computed Property works like methods, but that the advantages of organization and performance            
        -->
        <main id="app" class="main-content">
            <!-- Adding the literal text instead of binding: -->
            <h1>Java Packages and Definitions</h1>
            <!-- Adding a full official form element -->

            <form method="post" action="">
                <div>
                    <label for="name">Package Name: </label>
                    <input type="text" id="name" name="name" v-model.trim="mainHeading">
                    <span>({{mainHeading.length}} character)</span>
                </div>

                <div>
                    <label for="description">Description: </label>
                    <!-- 
                        remove => v-model.lazy
                        adding again => v-model
                     -->
                    <textarea id="description" name="description" v-model="deckDescription"></textarea>
                    <!-- 
                        Although this code => { {200-deckDescription.length} } 
                        is not long and complex,
                        we can make it even less and more concise by using "Vue Computed Property"
                        
                        so we can move this logic: { {200-deckDescription.length} } 
                        into our Vue instance (object)
                        and replace it with just a one word(simple identifier) like "charsLeft"
                        this will make our template cleaner

                        NOTES: 
                        - Modifying our Vue object code for "charsLeft" computed property
                        - calling the computed property without ()
                     -->
                    <!-- <span>({ {200-deckDescription.length} } left)</span> -->

                    <!-- 
                        The code below is shorter and more concise:
                     -->
                    <span>({{ charsLeft }} left)</span>

                    <!-- 
                        IMPORTANT NOTE:
                        Since, below we are invoking a method "countCharsLeft()"
                        instead of just a computed property name,
                        we need to add the parenthesis ()
                     -->
                    <span>({{ countCharsLeft() }} left)</span>
                    <!-- 
                    Q) What are the differences? Which one is more practical or better to use?
                    A) Using a computed property instead of invoking method when possible
                    is more practical and has a better performance, 
                    because computed property are cached to the browser
                    and only recalculated as necessary.
                    methods would be executed every time that part of the DOM is rerendered (reloaded)
                    -->
                </div>

                <div class="options">
                    <fieldset class="select-action">
                        <legend>packages Options</legend>
                        <div>
                            <input v-model="options" true-value="on" false-value="off" type="checkbox" id="reverse"
                                value="reverse">
                            <label for="reverse">Include reverse packages</label>
                        </div>

                        <div>
                            <input v-model="options" type="checkbox" id="time_limit" value="time_limit">
                            <label for="time_limit">Use time limit</label>
                        </div>

                        <div>
                            <input v-model="options" type="checkbox" id="reminders" value="reminders">
                            <label for="reminders">Enable reminders</label>
                        </div>
                    </fieldset>

                    <fieldset class="select-action">
                        <legend>Java GUI</legend>
                        <div>
                            <input v-model="gui" type="radio" id="sw" name="gui" value="sw" checked>
                            <label for="sw">Swing</label>
                        </div>
                        <div>
                            <input v-model="gui" type="radio" id="fx" name="gui" value="fx">
                            <label for="fx">JavaFX</label>
                        </div>
                    </fieldset>
                </div>

                <div class="subject">
                    <label for="subject">OOP Subjects:</label>
                    <select v-model.number="subjectId" name="subject" id="subject">
                        <option value="">Select</option>
                        <option value="1">Abstraction</option>
                        <option value="2">Polymorphism</option>
                        <option value="3">Inheritance</option>
                        <option value="4">Encapsulation</option>
                        <option value="5">Interfaces</option>
                        <option value="6">Programming</option>
                    </select>
                </div>

                <!-- Adding testing div for displaying the values of the checkbox "reverse" -->
                <div>
                    Value of Vue data property "options" is: <strong>{{ options }}</strong>
                </div>

                <div class="buttons">
                    <button @:click.prevent="submit;" type="submit">Create</button>
                </div>
            </form>
        </main>

        <!-- aside on the right side of main content -->
        <aside class="main-sidebar">
            <dl>
                <dt>
                    Approachable:
                </dt>
                <dd>Builds on top of standard HTML, CSS and JavaScript with intuitive API and world-class documentation.
                </dd>

                <dt>
                    Performant:
                </dt>
                <dd>Truly reactive, compiler-optimized rendering system that rarely requires manual optimization.
                </dd>

                <dt>
                    Versatile:
                </dt>
                <dd>A rich, incrementally adoptable ecosystem that scales between a library and a full-featured
                    framework.
                </dd>
            </dl>
        </aside>

        <footer>&copy; <span id="year"></span> - Vue.js Introduction Demo</footer>
    </div>

    <!-- Calling the Vue Framework first: -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Calling our data file: -->
    <script src="../data/data.js"></script>

    <!-- Calling our JS script file/ or Internal JS code: -->
    <script src="../js/script.js">
    </script>

    <script>
        const javaPackagesApp = {
            // data() method for returning the Vue app properties (variables to be used in HTML page)
            data() {
                return {
                    mainHeading: 'Java Packages and Definitions',
                    deckDescription: 'A package in Java is used to group related classes.',
                    reverse: false,
                    options: [],
                    gui: 'Swing',
                    subjectId: ""
                }
            },
            /* 
            Adding another key (property) for the Vue instance called "computed"
            computed (like methods) is also an object that contains properties:
            */
            computed: {
                /* 
                adding one property "charsLeft" to be declared as a function
                to achieve our tasks (calculating the typed characters)

                NOTE: 
                since this key is acting as a function,
                so we can also add it as a function (method) 
                for "methods:" key
                */
                charsLeft() {
                    /* 
                    No need for complex logic!
                    just return the same expression that we had in the template
                    {{200-deckDescription.length}} 

                    NOTE: 
                    We have to add the keyword "this" 
                    to refer to the this selected item in the DOM

                    Because we are inside the Vue instance not inside the HTML Vue template
                    */
                    return 200 - this.deckDescription.length;
                }
            },
            // adding the methods key property for the vue again:
            methods: {
                // define our "submit()" method:
                submit() {
                    alert("Form is being submitted");
                },
                /* 
                Another option: adding the functionality of calculating the left characters
                starting with action verb as a method => countCharsLeft()
                */
                countCharsLeft() {
                    return 200 - this.deckDescription.length;
                }
            }
        } // end javaPackagesApp

        const app = Vue.createApp(javaPackagesApp).mount("#app");
    </script>
</body>

</html>